.navbar{
    background-color: #614EA6;
}

.nav-item a{
    color: #fff;
    transition: .3s ease-in;
}

.nav-item a:hover{
    color: #F21667;
}

.imgHot2 {
    width: 75px;
    height: 61px;
    background: url('img/hot.png') no-repeat;
}